Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2020-11, with the labels that each got.

#74 Add Helm chart for CSI NFS driver
  charts/csi-driver-nfs/.helmignore
  charts/csi-driver-nfs/Chart.yaml
  charts/csi-driver-nfs/templates/NOTES.txt
  charts/csi-driver-nfs/templates/_helpers.tpl
  charts/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  charts/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/csi-driver-nfs/templates/rbac-csi-nfs-controller.yaml
  charts/csi-driver-nfs/values.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/L

#78 fix: update livenessprobe version from v1.1.0 to v2.0.0
  charts/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/csi-driver-nfs/values.yaml
  deploy/kubernetes/csi-nfs-controller.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/XS

#79 Add E2E test cases for dynamic provisioning
  test/e2e/dynamic_provisioning_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/testsuites/dynamically_provisioned_collocated_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_delete_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_pod_with_multiple_pv.go
  test/e2e/testsuites/dynamically_provisioned_read_only_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  test/e2e/testsuites/specs.go
  test/e2e/testsuites/testsuites.go
  test/utils/check_driver_pods_restart.sh
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/k8s.io/kubernetes/test/e2e/framework/deployment/BUILD
  vendor/k8s.io/kubernetes/test/e2e/framework/deployment/fixtures.go
  vendor/k8s.io/kubernetes/test/e2e/framework/deployment/wait.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XXL

#80 helm: Update charts, initialize repository and add docs
  Makefile
  charts/README.md
  charts/csi-driver-nfs/Chart.yaml
  charts/index.yaml
  charts/latest/csi-driver-nfs-latest.tgz
  charts/latest/csi-driver-nfs/.helmignore
  charts/latest/csi-driver-nfs/Chart.yaml
  charts/latest/csi-driver-nfs/templates/NOTES.txt
  charts/latest/csi-driver-nfs/templates/_helpers.tpl
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/latest/csi-driver-nfs/templates/rbac-csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/values.yaml
  charts/v2.0.0/csi-driver-nfs-v2.0.0.tgz
  charts/v2.0.0/csi-driver-nfs/.helmignore
  charts/v2.0.0/csi-driver-nfs/Chart.yaml
  charts/v2.0.0/csi-driver-nfs/templates/NOTES.txt
  charts/v2.0.0/csi-driver-nfs/templates/_helpers.tpl
  charts/v2.0.0/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/v2.0.0/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  charts/v2.0.0/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/v2.0.0/csi-driver-nfs/templates/rbac-csi-nfs-controller.yaml
  charts/v2.0.0/csi-driver-nfs/values.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/L

#82 doc: add install instructions
  README.md
  deploy/kubernetes/install-driver.sh
  deploy/kubernetes/uninstall-driver.sh
  docs/install-csi-driver.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/L

#89 CI: Add static checks in GH Actions
  .github/workflows/static.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-nfs-driverinfo.yaml
  deploy/csi-nfs-node.yaml
  deploy/install-driver.sh
  deploy/rbac-csi-nfs-controller.yaml
  deploy/uninstall-driver.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#91 test: add make verify
  .gitignore
  Makefile
  hack/boilerplate/boilerplate.py
  hack/release-image.sh
  hack/verify-boilerplate.sh
  hack/verify-golint.sh
  hack/verify-gomod.sh
  hack/verify-helm-chart.sh
  hack/verify-yamllint.sh
  pkg/nfs/controllerserver_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note-none, size/L

#88 test: add integration tests
  Makefile
  test/integration/README.md
  test/integration/run-test.sh
  test/sanity/README.md
  test/sanity/params.yaml
  test/sanity/run-test.sh
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, release-note-none, size/L

#86 doc: use quay images
  deploy/csi-nfs-controller.yaml
  deploy/csi-nfs-node.yaml
  deploy/install-driver.sh
Labels: approved, cncf-cla: yes, kind/documentation, release-note-none, size/S

#95 fix: internalUnmount failure and DeleteVolume failure
  Makefile
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  pkg/nfs/controllerserver.go
  test/e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/S

#98 Include `build.make` in Makefile for cloud build
  Makefile
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#99 chore: change port num for health check
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-nfs-node.yaml
Labels: approved, cncf-cla: yes, release-note-none, size/XS

#100 fix: change the way to install CSC to fix integration test
  test/integration/run-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, release-note-none, size/M

#101 test: Add unit tests for identityserver and nodeserver
  go.mod
  pkg/mounter/safe_mounter_unix.go
  pkg/nfs/fake_mounter.go
  pkg/nfs/identityserver_test.go
  pkg/nfs/indentityserver.go
  pkg/nfs/nfs_test.go
  pkg/nfs/nodeserver.go
  pkg/nfs/nodeserver_test.go
  test/utils/testutil/testutil.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XL

#106 test: Add remaining unit tests
  cmd/nfsplugin/main.go
  pkg/nfs/fake_mounter_test.go
  pkg/nfs/nfs.go
  pkg/nfs/nfs_test.go
  pkg/nfs/server.go
  test/e2e/e2e_suite_test.go
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#103 Update release tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#107 Release tool update
  release-tools/build.make
Labels: approved, cncf-cla: yes, kind/feature, release-note-none, size/XS

#108 fix: release-image.sh script
  Makefile
  hack/release-image.sh
Labels: approved, cncf-cla: yes, kind/bug, release-note-none, size/S
