Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2020-06, with the labels that each got.

#34 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.sh
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#35 master: update release-tools
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#36 Allow to set custom permissions for the mounted folder
  cmd/nfsplugin/main.go
  pkg/nfs/nfs.go
  pkg/nfs/nodeserver.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/S
