Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2020-08, with the labels that each got.

#45 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
  release-tools/travis.yml
Labels: approved, cncf-cla: yes, lgtm, release-note, size/M

#43 test: add sanity test
  Makefile
  test/sanity/README.md
  test/sanity/run-test.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note, size/M

#49 fix: all sanity test failures
  pkg/nfs/controllerserver.go
  pkg/nfs/nodeserver.go
  test/sanity/run-test.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/S
