Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2021-04, with the labels that each got.

#180 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#181 add subPath e2e test
  test/e2e/dynamic_provisioning_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/testsuites/dynamically_provisioned_volume_subpath_tester.go
  test/e2e/testsuites/specs.go
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/L

#182 add a new node role for control plane
  charts/latest/csi-driver-nfs-v3.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  deploy/csi-nfs-controller.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note-none, size/XS

#185 feat: upgrade node driver registrar to v2.1.0
  charts/latest/csi-driver-nfs-v3.0.0.tgz
  charts/latest/csi-driver-nfs/values.yaml
  deploy/csi-nfs-node.yaml
Labels: approved, cncf-cla: yes, kind/feature, release-note, size/XS

#186 Allow shares that are not at the root
  pkg/nfs/controllerserver.go
  pkg/nfs/controllerserver_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, release-note-none, size/M

#191 chore: switch to use k8s.io/mount-utils
  go.mod
  pkg/nfs/controllerserver_test.go
  pkg/nfs/fake_mounter.go
  pkg/nfs/fake_mounter_test.go
  pkg/nfs/nfs.go
  pkg/nfs/nodeserver.go
  vendor/k8s.io/utils/mount/OWNERS
  vendor/k8s.io/utils/mount/doc.go
  vendor/k8s.io/utils/mount/fake_mounter.go
  vendor/k8s.io/utils/mount/mount.go
  vendor/k8s.io/utils/mount/mount_helper_common.go
  vendor/k8s.io/utils/mount/mount_helper_unix.go
  vendor/k8s.io/utils/mount/mount_helper_windows.go
  vendor/k8s.io/utils/mount/mount_linux.go
  vendor/k8s.io/utils/mount/mount_unsupported.go
  vendor/k8s.io/utils/mount/mount_windows.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, release-note-none, size/XXL

#192 add image pull secrets in helm chart
  Makefile
  charts/README.md
  charts/latest/csi-driver-nfs-v3.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/latest/csi-driver-nfs/values.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, release-note, size/S

#190 Add K8s external storage E2E tests
  Makefile
  test/external-e2e/run.sh
  test/external-e2e/testdriver.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/M

#193 fix: remove unnecessary podInfoOnMount
  charts/latest/csi-driver-nfs-v3.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  deploy/csi-nfs-driverinfo.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XS
