Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2022-02, with the labels that each got.

#282 chore: upgrade to k8s v1.23.3 lib
  go.mod
  go.sum
  test/e2e/driver/driver.go
  test/e2e/driver/nfs_driver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/specs.go
  vendor/github.com/imdario/mergo/.deepsource.toml
  vendor/github.com/imdario/mergo/.travis.yml
  vendor/github.com/imdario/mergo/README.md
  vendor/github.com/imdario/mergo/map.go
  vendor/github.com/imdario/mergo/merge.go
  vendor/github.com/kubernetes-csi/external-snapshotter/v2/LICENSE
  vendor/github.com/kubernetes-csi/external-snapshotter/v2/pkg/apis/volumesnapshot/v1beta1/doc.go
  vendor/github.com/kubernetes-csi/external-snapshotter/v2/pkg/apis/volumesnapshot/v1beta1/register.go
  vendor/github.com/kubernetes-csi/external-snapshotter/v2/pkg/apis/volumesnapshot/v1beta1/types.go
  vendor/github.com/kubernetes-csi/external-snapshotter/v2/pkg/apis/volumesnapshot/v1beta1/zz_generated.deepcopy.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/errors.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/huffman.go
  vendor/golang.org/x/net/http2/pipe.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched.go
  vendor/golang.org/x/net/http2/writesched_random.go
  vendor/golang.org/x/net/idna/go118.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/idna/idna9.0.0.go
  vendor/golang.org/x/net/idna/pre_go118.go
  vendor/golang.org/x/net/idna/punycode.go
  vendor/k8s.io/api/autoscaling/v2beta1/types.go
  vendor/k8s.io/api/autoscaling/v2beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/autoscaling/v2beta2/types.go
  vendor/k8s.io/api/autoscaling/v2beta2/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/types.go
  vendor/k8s.io/api/flowcontrol/v1alpha1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/api/flowcontrol/v1beta1/types.go
  vendor/k8s.io/api/flowcontrol/v1beta1/zz_generated.prerelease-lifecycle.go
  vendor/k8s.io/client-go/tools/pager/pager.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/mount-utils/go.mod
  vendor/k8s.io/mount-utils/go.sum
  vendor/k8s.io/mount-utils/mount_helper_common.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/mount_helper_windows.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
  vendor/sigs.k8s.io/structured-merge-diff/v4/typed/merge.go
Labels: size/XXL, lgtm, cncf-cla: yes, release-note, approved

#284 Add optional extra labels to k8s resources
  charts/latest/csi-driver-nfs-v3.2.0.tgz
  charts/latest/csi-driver-nfs/templates/_helpers.tpl
  charts/latest/csi-driver-nfs/values.yaml
Labels: size/XS, lgtm, cncf-cla: yes, approved, release-note-action-required, ok-to-test

#285 test: add codespell shellcheck github actions
  .github/workflows/codespell.yml
  .github/workflows/shellcheck.yaml
  .prow.sh
  docs/csi-debug.md
  test/e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  test/e2e/testsuites/testsuites.go
  test/integration/run-test.sh
  test/sanity/run-test.sh
  test/utils/check_driver_pods_restart.sh
  test/utils/nfs_log.sh
Labels: size/M, release-note-none, kind/documentation, cncf-cla: yes, approved

#286 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
Labels: size/M, lgtm, release-note-none, cncf-cla: yes, approved

#290 feat: add ppc64le arch support
  Makefile
Labels: kind/feature, size/XS, cncf-cla: yes, release-note, approved

#291 feat: change dnsPolicy to Default and add dnsPolicy setting in chart
  Makefile
  charts/README.md
  charts/latest/csi-driver-nfs-v3.2.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/latest/csi-driver-nfs/values.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-nfs-node.yaml
Labels: kind/feature, size/M, lgtm, cncf-cla: yes, release-note, approved
