Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2022-08, with the labels that each got.

#365 Fix NOTES.txt selector to use a valid label
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/NOTES.txt
Labels: size/XS, lgtm, release-note-none, kind/documentation, cncf-cla: yes, approved, ok-to-test

#370 feat: disable inline volume by default in kubectl install
  deploy/csi-nfs-driverinfo.yaml
  pkg/nfs/controllerserver.go
  pkg/nfs/fake_mounter.go
Labels: kind/feature, size/S, lgtm, cncf-cla: yes, release-note, approved

#368 master: update release-tools
  release-tools/filter-junit.go
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
Labels: size/M, lgtm, release-note-none, cncf-cla: yes, approved

#371 chore: fix code spelling issue
  .github/workflows/codespell.yml
  .github/workflows/trivy.yaml
  pkg/nfs/utils_test.go
Labels: size/XS, lgtm, release-note-none, cncf-cla: yes, approved

#373 doc: remove nconnect mount option
  deploy/example/README.md
  deploy/example/pv-nfs-csi.yaml
  deploy/example/storageclass-nfs.yaml
Labels: size/XS, lgtm, release-note-none, kind/documentation, cncf-cla: yes, approved
