Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2023-07, with the labels that each got.

#473 fix: add imagePullSecrets to snapshot controller in helm chart
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-snapshot-controller.yaml
Labels: size/XS, lgtm, cncf-cla: yes, release-note, approved, ok-to-test

#483 feat: disable snapshot controller install in helm chart by default
  Makefile
  charts/README.md
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/values.yaml
Labels: size/S, cncf-cla: yes, release-note, approved

#480 feat: make priorityClassName configurable
  charts/README.md
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/latest/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/latest/csi-driver-nfs/values.yaml
  charts/v4.4.0/csi-driver-nfs-v4.4.0.tgz
  charts/v4.4.0/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/v4.4.0/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/v4.4.0/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/v4.4.0/csi-driver-nfs/values.yaml
Labels: kind/feature, size/S, lgtm, cncf-cla: yes, release-note, approved, ok-to-test

#487 fix: helm chart format issue
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/v4.4.0/csi-driver-nfs-v4.4.0.tgz
  charts/v4.4.0/csi-driver-nfs/templates/csi-snapshot-controller.yaml
Labels: kind/bug, size/XS, lgtm, cncf-cla: yes, approved, ok-to-test

#481 feat: allow csi-snapshotter to be enabled without installing CRDs
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/crd-csi-snapshot.yaml
  charts/latest/csi-driver-nfs/values.yaml
Labels: kind/bug, size/XS, lgtm, cncf-cla: yes, release-note, approved, ok-to-test

#490 fix: always enable snapshot sidecar container in controller
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
Labels: kind/bug, size/XS, lgtm, cncf-cla: yes, release-note, approved
