Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2023-05, with the labels that each got.

#442 chore: add dependabot
  .github/dependabot.yaml
Labels: kind/cleanup, size/S, release-note-none, cncf-cla: yes, approved

#450 Use dl.k8s.io instead of hardcoded GCS URIs
  test/external-e2e/run.sh
Labels: size/XS, kind/cleanup, lgtm, release-note-none, cncf-cla: yes, approved, ok-to-test

#451 chore: upgrade snapshot version and refine snapshot deployment
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/crd-csi-snapshot.yaml
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/latest/csi-driver-nfs/templates/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  charts/latest/csi-driver-nfs/templates/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  charts/latest/csi-driver-nfs/templates/snapshot.storage.k8s.io_volumesnapshots.yaml
  charts/latest/csi-driver-nfs/values.yaml
  deploy/crd-csi-snapshot.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/install-driver.sh
  deploy/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  deploy/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  deploy/snapshot.storage.k8s.io_volumesnapshots.yaml
  deploy/uninstall-driver.sh
  hack/verify-yamllint.sh
  test/e2e/e2e_suite_test.go
Labels: size/XXL, kind/cleanup, release-note-none, cncf-cla: yes, approved

#453 chore: upgrade csi-snapshot to v6.2.2
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/values.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-snapshot-controller.yaml
Labels: kind/feature, size/XS, cncf-cla: yes, release-note, approved
