Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2024-06, with the labels that each got.

#681 chore: update release-tools to fix spelling error
  .github/workflows/trivy.yaml
  release-tools/.github/dependabot.yaml
  release-tools/.github/workflows/codespell.yml
  release-tools/.github/workflows/trivy.yaml
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/generate-patch-release-notes.sh
  release-tools/go-modules-targeted-update.sh
  release-tools/prow.sh
  release-tools/verify-logcheck.sh
Labels: kind/failing-test, size/L, release-note-none, cncf-cla: yes, approved

#688 Adding annotations to set default storage class
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/storageclass.yaml
  charts/latest/csi-driver-nfs/values.yaml
Labels: size/XS, lgtm, release-note-none, cncf-cla: yes, approved, ok-to-test

#693 chore: use go 1.22 in go.mod
  go.mod
  vendor/k8s.io/kubernetes/test/e2e/framework/testfiles/testdata/a/foo.txt
Labels: kind/failing-test, size/XS, release-note-none, cncf-cla: yes, approved

#689 fix: shield guard issues
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/v4.6.0/csi-driver-nfs-v4.6.0.tgz
  charts/v4.6.0/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/v4.6.0/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/v4.7.0/csi-driver-nfs-v4.7.0.tgz
  charts/v4.7.0/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/v4.7.0/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  deploy/csi-nfs-controller.yaml
  deploy/v4.6.0/csi-nfs-controller.yaml
  deploy/v4.6.0/csi-snapshot-controller.yaml
  deploy/v4.7.0/csi-nfs-controller.yaml
  deploy/v4.7.0/csi-snapshot-controller.yaml
Labels: kind/bug, size/M, lgtm, release-note-none, cncf-cla: yes, approved, ok-to-test

#695 fix: shield guard issue on CSI node
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/v4.6.0/csi-driver-nfs-v4.6.0.tgz
  charts/v4.6.0/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/v4.7.0/csi-driver-nfs-v4.7.0.tgz
  charts/v4.7.0/csi-driver-nfs/templates/csi-nfs-node.yaml
  deploy/csi-nfs-node.yaml
  deploy/v4.6.0/csi-nfs-node.yaml
  deploy/v4.7.0/csi-nfs-node.yaml
Labels: kind/bug, size/M, lgtm, release-note-none, cncf-cla: yes, approved, ok-to-test
