Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2024-01, with the labels that each got.

#583 fix: use service account name variables as expected
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/rbac-csi-nfs.yaml
Labels: kind/bug, size/XS, lgtm, release-note-none, cncf-cla: yes, approved, ok-to-test

#585 cleanup: remove unnecessary getArchivedInternalVolumePath func
  pkg/nfs/controllerserver.go
Labels: size/XS, kind/cleanup, release-note-none, cncf-cla: yes, approved

#587 doc: cut v4.6.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/v4.6.0/csi-driver-nfs-v4.6.0.tgz
  charts/v4.6.0/csi-driver-nfs/.helmignore
  charts/v4.6.0/csi-driver-nfs/Chart.yaml
  charts/v4.6.0/csi-driver-nfs/templates/NOTES.txt
  charts/v4.6.0/csi-driver-nfs/templates/_helpers.tpl
  charts/v4.6.0/csi-driver-nfs/templates/crd-csi-snapshot.yaml
  charts/v4.6.0/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/v4.6.0/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  charts/v4.6.0/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/v4.6.0/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/v4.6.0/csi-driver-nfs/templates/rbac-csi-nfs.yaml
  charts/v4.6.0/csi-driver-nfs/templates/rbac-snapshot-controller.yaml
  charts/v4.6.0/csi-driver-nfs/values.yaml
  deploy/v4.6.0/crd-csi-snapshot.yaml
  deploy/v4.6.0/csi-nfs-controller.yaml
  deploy/v4.6.0/csi-nfs-driverinfo.yaml
  deploy/v4.6.0/csi-nfs-node.yaml
  deploy/v4.6.0/csi-snapshot-controller.yaml
  deploy/v4.6.0/rbac-csi-nfs.yaml
  deploy/v4.6.0/rbac-snapshot-controller.yaml
  docs/install-csi-driver-v4.6.0.md
  docs/install-nfs-csi-driver.md
Labels: size/XXL, release-note-none, kind/documentation, cncf-cla: yes, approved

#590 chore: upgrade sidecar image versions
  charts/README.md
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/values.yaml
  charts/v4.6.0/csi-driver-nfs-v4.6.0.tgz
  charts/v4.6.0/csi-driver-nfs/values.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-nfs-node.yaml
  deploy/csi-snapshot-controller.yaml
  deploy/v4.6.0/csi-nfs-controller.yaml
  deploy/v4.6.0/csi-nfs-node.yaml
  deploy/v4.6.0/csi-snapshot-controller.yaml
Labels: kind/feature, size/M, release-note-none, cncf-cla: yes, approved
