Repository kubernetes-csi/csi-driver-nfs, pull requests merged in 2025-01, with the labels that each got.

#808 feat: replace tar (cli) with code-only packing
  go.mod
  go.sum
  pkg/nfs/controllerserver.go
  pkg/nfs/tar.go
  pkg/nfs/tar_test.go
  vendor/golang.org/x/mod/LICENSE
  vendor/golang.org/x/mod/PATENTS
  vendor/golang.org/x/mod/sumdb/dirhash/hash.go
  vendor/modules.txt
Labels: kind/feature, size/XL, lgtm, cncf-cla: yes, release-note, approved, ok-to-test

#842 feat: add useTarCommandInSnapshot flag in chart config
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/latest/csi-driver-nfs/values.yaml
  cmd/nfsplugin/main.go
  pkg/nfs/controllerserver.go
  pkg/nfs/nfs.go
Labels: kind/feature, size/S, cncf-cla: yes, release-note, approved

#847 chore: upgrade CSI driver sidecar image versions
  charts/README.md
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/latest/csi-driver-nfs/values.yaml
  deploy/csi-nfs-controller.yaml
  deploy/csi-nfs-node.yaml
Labels: kind/feature, size/S, release-note-none, cncf-cla: yes, approved

#845 doc: cut v4.10.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/csi-driver-nfs-v0.0.0.tgz
  charts/v4.10.0/csi-driver-nfs-v4.10.0.tgz
  charts/v4.10.0/csi-driver-nfs/.helmignore
  charts/v4.10.0/csi-driver-nfs/Chart.yaml
  charts/v4.10.0/csi-driver-nfs/templates/NOTES.txt
  charts/v4.10.0/csi-driver-nfs/templates/_helpers.tpl
  charts/v4.10.0/csi-driver-nfs/templates/crd-csi-snapshot.yaml
  charts/v4.10.0/csi-driver-nfs/templates/csi-nfs-controller.yaml
  charts/v4.10.0/csi-driver-nfs/templates/csi-nfs-driverinfo.yaml
  charts/v4.10.0/csi-driver-nfs/templates/csi-nfs-node.yaml
  charts/v4.10.0/csi-driver-nfs/templates/csi-snapshot-controller.yaml
  charts/v4.10.0/csi-driver-nfs/templates/rbac-csi-nfs.yaml
  charts/v4.10.0/csi-driver-nfs/templates/rbac-snapshot-controller.yaml
  charts/v4.10.0/csi-driver-nfs/templates/snapshotclass.yaml
  charts/v4.10.0/csi-driver-nfs/templates/storageclass.yaml
  charts/v4.10.0/csi-driver-nfs/values.yaml
  deploy/v4.10.0/crd-csi-snapshot.yaml
  deploy/v4.10.0/csi-nfs-controller.yaml
  deploy/v4.10.0/csi-nfs-driverinfo.yaml
  deploy/v4.10.0/csi-nfs-node.yaml
  deploy/v4.10.0/csi-snapshot-controller.yaml
  deploy/v4.10.0/rbac-csi-nfs.yaml
  deploy/v4.10.0/rbac-snapshot-controller.yaml
  deploy/v4.10.0/snapshotclass.yaml
  deploy/v4.10.0/storageclass.yaml
  docs/install-csi-driver-v4.10.0.md
  docs/install-nfs-csi-driver.md
Labels: size/XXL, release-note-none, cncf-cla: yes, approved
